h2, p{
  text-align: center;
  color: white;
}

a{
  margin:0px;
}

:host{
  margin-top: 45px;
  background: rgba(0,0,0,1)
}

.ui.circular.image.blog{
  display: inline;
  width: 68px;
  height: 68px;
  margin-left: -0.45rem;
  margin-right: -0.15rem;
}

.ui.circular.image.line{
  display: inline;
  width: 56px;
  height: 56px;
  /*margin-left: -0.45rem;*/
  margin-right: 0.15rem;
}
