<div class="ui centered grid">
  <div class="six wide computer eight wide tablet ten wide mobile column">
    <h2>Find us on</h2>
      <a href="https://www.facebook.com/AirAsia" target="_blank">
        <i class="circular big  inverted red facebook f icon"></i>
      </a>
      <a href="https://twitter.com/AirAsia" target="_blank">
        <i class="circular big inverted red twitter icon"></i>
      </a>
      <a href="https://line.me/R/ti/p/%40airasia" target="_blank">
        <i class="circular big inverted red facebook icon"></i>
      </a>
      <a href="https://www.youtube.com/user/airasia" target="_blank">
        <i class="circular big inverted red youtube play icon"></i>
      </a>
      <a href="http://blog.airasia.com/" target="_blank">
        <img class="ui circular image" [src]='aaiconpath'>
      </a>
      <a href="https://www.instagram.com/airasia/" target="_blank">
        <i class="circular big inverted red instagram icon"></i>
      </a>
      <a href="https://www.pinterest.com/airasia/" target="_blank">
        <i class="circular big inverted red pinterest icon"></i>
      </a>
      <a href="https://www.snapchat.com/add/airasia" target="_blank">
        <i class="circular big inverted red snapchat ghost icon"></i>
      </a>
  </div>
</div>
