<a class="browse item">Business / Government<i class="dropdown icon"></i></a>
<div class="ui flowing popup bottom right hidden">
  <div class="ui two column relaxed grid">
    <div class="column">
      <div class="subsection">
        <h4>Flying for business by AirAsia:</h4>
        <div class="ui two column grid">
          <div class="column">
            <div><i class="circle tiny icon"></i><a href="#">Premium flex</a></div>
            <div><i class="circle tiny icon"></i><a href="#">Travel agents</a></div>
          </div>
          <div class="column">
            <div><i class="circle tiny icon"></i><a href="#">GoCorporate</a></div>
            <div><i class="circle tiny icon"></i><a href="#">Government</a></div>
          </div>
        </div>
      </div>
      <div class="subsection">
        <h4>Why AirAsia for business?</h4>
          <p>
            <span><i class="checkmark icon"></i>&ensp;Flight change</span>&emsp;
            <span><i class="checkmark icon"></i>&ensp;Baggage allowance</span>
          </p>
          <p><i class="checkmark icon"></i>&ensp;Xpress boarding* and much more!</p>
      </div>

      <span>*Selected major airports only</span>
    </div>
    <div class="column" id="backdrop">
      <a href="#" class="ui red button">Find out more </a>
    </div>
  </div>










</div>
