<a class="browse item">Travel Information<i class="dropdown icon"></i></a>
<div class="ui flowing popup hidden">
  <div class="ui three column relaxed grid">
    <div class="column">
      <div class="subsection">
        <ul><h4>Where we fly to</h4>
          <li><a href="http://www.airasia.com/my/en/where-we-fly/route-map.page">Route map</a></li>
          <li><a href="http://www.airasia.com/my/en/where-we-fly/flight-schedule.page">Flight schedule</a></li>
          <li><a href="http://selfservice.airasia.com/FlightStatus">Flight status</a></li>
        </ul>
      </div>

      <div class="subsection">
        <ul><h4>Book with us</h4>
          <li><a href="http://www.airasia.com/my/en/book-with-us/asean-pass/overview.page">AirAsia Asean Pass</a></li>
          <li><a href="https://booking.airasia.com/Flight/Search?culture=en-GB">Book a flight</a></li>
          <li><a href="http://www.airasia.com/my/en/book-with-us/group-bookings.page">Group bookings</a></li>
          <li><a href="http://www.airasia.com/my/en/book-with-us/charter-a-flight.page">Charter a flight</a></li>
          <li><a href="http://www.airasia.com/my/en/book-with-us/payment-channels.page">Payment channels</a></li>
        </ul>
      </div>

      <div class="subsection">
        <ul><h4>Our fares</h4>
          <li><a href="http://www.airasia.com/my/en/our-fares/fare-types.page">Fare types</a></li>
          <li><a href="http://www.airasia.com/my/en/our-fares/fare-rules.page">Fare rules</a></li>
          <li><a href="http://www.airasia.com/my/en/our-fares/fees-and-charges.page">Fees and charges</a></li>
        </ul>
      </div>

    </div>
    <div class="column">
      <div class="subsection">
        <ul><h4>Baggage info</h4>
          <li><a href="http://www.airasia.com/my/en/baggage-info/checked-baggage.page">Checked baggage</a></li>
          <li><a href="http://www.airasia.com/my/en/baggage-info/cabin-baggage.page">Cabin baggage</a></li>
          <li><a href="http://www.airasia.com/my/en/baggage-info/sports-equipment.page">Sports equipment</a></li>
          <li><a href="http://www.airasia.com/my/en/baggage-info/mishandled-baggage.page">Mishandled baggage</a></li>
          <li><a href="http://www.airasia.com/my/en/baggage-info/dangerous-goods.page">Dangerous goods</a></li>
        </ul>
      </div>

      <div class="subsection">
        <ul><h4>Inflight comforts</h4>
          <li><a href="http://www.airasia.com/my/en/inflight-comforts/hot-meals.page">Hot meals</a></li>
          <li><a href="http://www.airasia.com/my/en/inflight-comforts/seat-options.page">Seat options</a></li>
          <li><a href="http://www.airasia.com/my/en/inflight-comforts/seat-options.page?section=airasiax#flatbed">Premium flatbed</a></li>
          <li><a href="http://www.airasia.com/my/en/inflight-comforts/entertainment.page">Entertainment</a></li>
          <li><a href="http://www.airasia.com/my/en/inflight-comforts/duty-free-and-merchandise.page">Duty free and merchandise</a></li>
        </ul>
      </div>

      <div class="subsection">
        <ul><h4>Check-ins</h4>
          <li><a href="http://www.airasia.com/my/en/check-ins/web-and-mobile.page">Web and mobile</a></li>
          <li><a href="http://www.airasia.com/my/en/check-ins/counter.page">Counter</a></li>
        </ul>
      </div>

    </div>
    <div class="column">
      <div class="subsection">
        <ul><h4>At the airport</h4>
          <li><a href="http://www.airasia.com/my/en/at-the-airport/airports-and-terminals.page">Airports and terminals</a></li>
          <li><a href="http://www.airasia.com/my/en/at-the-airport/special-guests.page">Specials guests</a></li>
          <li><a href="http://www.airasia.com/my/en/at-the-airport/red-carpet.page">Red carpet</a></li>
          <li><a href="http://www.airasia.com/my/en/inflight-comforts/airasia-premium-lounge.page">AirAsia Premium Red Lounge</a></li>
        </ul>
      </div>

      <div class="subsection">
        <ul><h4>Our connections</h4>
          <li><a href="http://www.airasia.com/my/en/our-connections/connecting-flights.page">Connecting flights</a></li>
          <li><a href="http://www.airasia.com/my/en/our-connections/island-and-city-transfers.page">Island and city transfers</a></li>
        </ul>
      </div>

      <div class="subsection">
        <a href="http://www.airasia.com/my/en/passport-and-visas.page"><h4>Passport and visas</h4></a>
        <a href="http://www.airasia.com/my/en/airasia-mobile-app.page"><h4>AirAsia mobile app</h4></a>
        <a href="http://www.airasia.com/my/en/big-loyalty-programme.page"><h4>BIG loyalty programme</h4></a> 
      </div>


    </div>
  </div>
</div>
