<a class="browse item">Travel Information<i class="dropdown icon"></i></a>
<div class="ui flowing popup hidden">
  <div class="ui three column relaxed grid">
    <div class="column">
      <div class="subsection">
        <ul><h4>Where we fly to</h4>
          <li>Route map</li>
          <li>Flight schedule</li>
          <li>Flight status</li>
        </ul>
      </div>

      <div class="subsection">
        <ul><h4>Book with us</h4>
          <li>AirAsia Asean Pass</li>
          <li>Book a flight</li>
          <li>Group bookings</li>
          <li>Charter a flight</li>
          <li>Payment channels</li>
        </ul>
      </div>

      <div class="subsection">
        <ul><h4>Our fares</h4>
          <li>Fare types</li>
          <li>Fare rules</li>
          <li>Fees and charges</li>
        </ul>
      </div>

    </div>
    <div class="column">
      <div class="subsection">
        <ul><h4>Baggage info</h4>
          <li>Checked baggage</li>
          <li>Cabin baggage</li>
          <li>Sports equipment</li>
          <li>Mishandled baggage</li>
          <li>Dangerous goods</li>
        </ul>
      </div>

      <div class="subsection">
        <ul><h4>Inflight comforts</h4>
          <li>Hot meals</li>
          <li>Seat options</li>
          <li>Premium flatbed</li>
          <li>Entertainment</li>
          <li>Duty free and merchandise</li>
        </ul>
      </div>

      <div class="subsection">
        <ul><h4>Check-ins</h4>
          <li>Web and mobile</li>
          <li>Counter</li>
        </ul>
      </div>

    </div>
    <div class="column">
      <div class="subsection">
        <ul><h4>At the airport</h4>
          <li>Airports and terminals</li>
          <li>Specials guests</li>
          <li>Red carpet</li>
          <li>AirAsia Premium Red Lounge</li>
        </ul>
      </div>

      <div class="subsection">
        <ul><h4>Our connections</h4>
          <li>Connecting flights</li>
          <li>Island and city transfers</li>
        </ul>
      </div>

      <div class="subsection">
        <h4>Passport and visas</h4>
        <h4>AirAsia mobile app</h4>
        <h4>BIG loyalty programme</h4>
      </div>


    </div>
  </div>
</div>
