<form [formGroup]="bookingBox" (ngSubmit)="submit(bookingBox.value, bookingBox.valid)">

    <div *ngFor="let bookingType of bookingTypes">
      <label><input type="radio" formControlName="bookingType" [value]="bookingType.value">{{bookingType.display}}</label>
    </div>

  <div *ngFor="let flightType of flightTypes">
    <label><input type="radio" formControlName="flightType" [value]="flightType.value">{{flightType.display}}</label>
  </div>

  <div>
    <label for="origin">Origin</label>
    <select class="" formControlName="origin" name="origin">
      <option *ngFor="let origin of origins" [value]="origin.value">{{origin.display}}</option>
    </select>
  </div>

  <div>
    <label for="destination">Destination</label>
    <select class="" formControlName="destination" name="destination">
      <option *ngFor="let destination of destinations" [value]="destination.value">{{destination.display}}</option>
    </select>
  </div>

  <div>
    <select formControlName="currency">
      <option *ngFor="let currency of currencies" [value]="currency.value">{{currency.display}}</option>
    </select>
  </div>

  <div>
    <select formControlName="adult">
      <option *ngFor="let number of [0,1,2,3,4,5,6,7,8,9]" [value]="number">{{number}} Adult</option>
    </select>

    <select formControlName="children">
      <option *ngFor="let number of [0,1,2,3,4,5,6,7,8,9]" [value]="number">{{number}} Children</option>
    </select>

    <select formControlName="infant">
      <option *ngFor="let number of [0,1,2,3,4,5,6,7,8,9]" [value]="number">{{number}} Infant</option>
    </select>
  </div>

  <div *ngFor="let bookingChoice of bookingChoices">
      <label><input type="radio" formControlName="bookingChoice" [value]="bookingChoice.value">{{bookingChoice.display}}</label>
  </div>

  <div>
	 <my-date-picker [options]="myDatePickerOptions" (dateChanged)="updateDepartDate($event)"></my-date-picker>
  </div>

  <div>
   	 <my-date-picker [options]="myDatePickerOptions" (dateChanged)="updateReturnDate($event)"></my-date-picker>
  </div>

  <input type="submit" [disabled]="!bookingBox.valid" value="Search">
</form>
