<a class="browse item">Login <i class="dropdown icon"></i></a>
<div class="ui flowing popup hidden">
  <div class="ui vertical text menu">
    <div class="item">
      <a href="#" class="ui red button">Hey there, login here!</a>
      <br><br>
      <p>New to AirAsia.com? <a href="#" id="signup">Sign up now!</a></p>
    </div>
    <div class="ui divider"></div>
    <div class="item">
      <p><a href="#">My Account</a></p>
      <p><a href="#">My Bookings</a></p>
      <p><a href="#">My BIG Points</a></p>
      <p><a href="#">My Xpress Pay</a></p>
      <p><a href="#">AirAsia Asean Pass</a></p>
    </div>

  </div>
</div>
