<a class="browse item">Web Check-In<i class="dropdown icon"></i></a>
<div class="ui flowing popup hidden">
  <form class="" action="index.html" method="post">
    <div>
      <label>
        <input type="radio" name="checkInOption" value="new" checked>
        New check-in
      </label>
      <label>
        <input type="radio" name="checkInOption" value="reprint">
        Reprint boarding pass
      </label>
    </div>
    <div>
      <select class="" name="">
        <option>Kuala</option>
      </select>
      <input type="text" name="bookingRef" value="">
      <input type="text" name="lastname" value="">
      <input type="submit" value="Go">
    </div>
  </form>

  <div>
    <strong>Web check-in is NOT available for:</strong>
    <p>* Flights departing in more than 14 days</p>
    <p>* Flights departing in less than 1 hour for AirAsia or less than 4 hours for AirAsia X</p>
    <p>* Pregnant guests</p>
    <p>* Guest(s) travelling with infant(s)</p>
    <p>* Guest(s) with reduced mobility and those with special needs</p>
    <p>* Guest(s) aged below 16 years old and travelling alone</p>
    <p>* Guest(s) with a medical condition/illnesses</p>
    <p>Read more <a href="http://www.airasia.com/my/en/check-ins/web-and-mobile-web.page" id="webCheckInDetail">here</a> or proceed to our check-in counters for further assistance.</p>
  </div>

</div>
